Multi-Agent System 82.json
{
  "name": "Multi-Agent System 2",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        -480
      ],
      "id": "47be0eb5-e131-4230-9084-f2608d598273",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "r1mXL5JVPJilJ6rh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1312,
        -288
      ],
      "id": "ed625a7d-7694-447b-9019-7c3f54bbeac5",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "r1mXL5JVPJilJ6rh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1760,
        -288
      ],
      "id": "3f796e66-251e-455d-934b-f56ba7098dda",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "r1mXL5JVPJilJ6rh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Напиши контент на тему: {{ $json.message.text }}\n\nПри необхідності використай правки які знаходяться нижче: {{ $('Change_Prompt').item.json.rewritePrompt }}",
        "options": {
          "systemMessage": "#### РОЛЬ\nТи кваліфікований менеджер з 15 річним досвідом який вміє керувати командами з більше 10 людей. Ти вмієш:\n1.\tКласифікувати запит від користувача\n2.\tПравильно ставити задачі для агентських систем\n\n#### КОНТЕКСТ\nКористувач надаватиме тобі теми дописів на основі яких ти маєш виконати Запит. ЗАВЖДИ використовуй інструменти згідно класифікованого запиту\n#### ЗАПИТ\nВиконай наступні дії:\n1.\tКласифікуй запит користувача згідно двух тем: Запит пов'язаний з штучним інтелектом або Запит немає відношення до Штучного інтелекту. тільки одним словом «ШІ» або «неШІ»\n2.\tЯкщо класифікував запит користувача як «ШІ», то виконай інструкції які знаходяться між тегами <AI> і не виконуй інструкції які знаходяться між тегами <noAI>\n3.\tЯкщо класифікував запит користувача як «неШІ», то виконай інструкції які знаходяться між тегами <noAI> і не виконуй інструкції які знаходяться між тегами <AI>. Передай отриману відповідь від інструменту «Other_topic» на інструмент «AI_topic». Отриману відповідь від інструменту \"Other_topic\" передай на інструмент \"add_data_to_VDB_tool\" з кейсами застосування, щоб добавити в базу даних\n4.\tНапиши допис в структурованову вигляді згідно відповіді, яку ти отримав від інструменту «AI_topic» на тему використання ШІ і формату відповіді, який знаходиться в розділі «ФОРМАТ ВІДПОВІДІ»\n\n#### ОБМЕЖЕННЯ\nЗавжди очікуй відповідь користувача. Якщо користувач не надав тобі тему, то запитай його.\nЯкщо користувач надав тобі тему, яка для тебе не є зрозумілою (просто набір цифр, набір букв, одне слово або схожі за цією логікою запити), то попроси користувача деталізувати\nВідповідь надай Українською мовою\nЯкщо ти не запустив і не отримав відповідь від інструменту \"AI_topic\" то обовязково запусти його і виконай ЗАПИТ\n\n#### ФОРМАТ ВІДПОВІДІ\nВідповідь надай згідно структури нижче не більше 500 символів\nТема: [тут тема статті]\nТекст: [тут текст статті]\n#### ДОДАТКОВА ІНФОРМАЦІЯ\n<AI>\nВиконай наступні дії:\n1.\tДеталізовано напиши тему і опис допису згідно Запиту користувача\n2.\tПередай цю тему та опис на інструмент «AI_topic»\n3.\tОтримай відповідь від інструменту і продовжуй виконувати дії згідно розділу ЗАПИТ\n</AI>\n<noAI>\nВиконай наступні дії:\n1.\tДеталізовано напиши тему і опис допису згідно Запиту користувача\n1.1 Використай інструмент \"get_data_from_VDB_tool\" для пошуку інформації про кейси застосування ШІ для тематики яку задав Користувач.\n1.2 Якщо немає належної інформації, то продовжуй виконувати далі цей запит із пункту 2.\n1.3 Якщо інформація знайшлась в базі даних, то в такому випадку передай всю занйдену інформацію на інструмент \"«AI_topic»\" і не продовжуй виконання пункту 2. Зразу перейди на виконання пункту 4 ЗАПИТУ користувача.\n2.\tПередай цю тему та опис на інструмент «Other_topic»\n3.\tОтримай відповідь від інструменту «Other_topic\"\n4.\tПередай отриману відповідь від інструменту «Other_topic» на інструмент «AI_topic»\n4.1 Отриману відповідь від інструменту \"Other_topic\" передай на інструмент \"add_data_to_VDB_tool\" з кейсами застосування, щоб добавити в базу даних\n5.\tОтримай відповідь від інструменту і продовжуй виконувати дії згідно розділу ЗАПИТ\n</noAI>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        832,
        -752
      ],
      "id": "cb247a74-a1d3-4a3e-afd6-040aed3ecd17",
      "name": "AI_Orkestrator",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "toolDescription": "Запускай цей інструмент ТІЛЬКИ у випадку якщо класифіковано запит користувача як \"неШІ\"",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', `Отримує інформацію про тему і опис не повязану з ШІ`, 'string') }}",
        "options": {
          "systemMessage": "#### РОЛЬ\nТи професійний ШІ інженер в сфері впровадженя ШІ в бізнес. Ти вмієш на основі запиту користувача надавати рекомендації по впровадженню ШІ\n#### КОНТЕКСТ\nНа основі даних від користувача виконай ЗАПИТ\n#### ЗАПИТ\nВиконай наступні дії:\n1.\tПроаналізуй запит Користувача на предмет використання ШІ в тій темі о він задав\n2.\tНапиши 3 можливих кейсів застосування ШІ в темі що тобі надав користувач\n3.\tВідповідь надай в форматі назви і опису кейсу застосування\n\n#### ОБМЕЖЕННЯ\nВідповідай українською мовою\nВикористовуй тільки кейси які повязані з темою запиту Користувача\n\n#### ФОРМАТ ВІДПОВІДІ\nВідповідь надай в форматі JSON "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1424,
        -496
      ],
      "id": "bf5b4c5f-b871-45c1-8098-144e2bbf02e1",
      "name": "Other_topic"
    },
    {
      "parameters": {
        "toolDescription": "Запускай цей інструмент ТІЛЬКИ у випадку якщо класифіковано запит користувача як \"ШІ\"",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', `Отримує інформацію про тему і опис статті про ШІ`, 'string') }}",
        "options": {
          "systemMessage": "#### РОЛЬ\nТи професійний копірайтер з 15 річним досвідом в сфері напсиання статтей на тематику використання ШІ. Ти вмієш:\n1.\tАналізувати запити на предмет використання ШІ\n2.\tПисати професійні статті згідно запиту користувача\n#### КОНТЕКСТ\nНа основі даних від користувача виконай ЗАПИТ\n#### ЗАПИТ\nВиконай наступні кроки:\n1.\tПроаналізуй запит користувача на предмет написання статті про використання ШІ\n2.\tНа оснвоі запиту Користувавча і твого аналізу згенеруй допис на 500 слів, який буде включати в себе Тему і Основний текст статті. Допис згенеруй в кежуал-діловому стилі, включи елементи художнього стилю, просто мовою, щоб легко читався\n3.\tЦільова аудиторія Власники бізнесу.\n\n#### ОБМЕЖЕННЯ\nВідповідь надай тільки Укрїнською мовою\n\n#### ФОРМАТ ВІДПОВІДІ\nВідповідь надай в форматі JSON\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1808,
        -496
      ],
      "id": "d05a3ffb-4d35-4dde-9224-99fe88efde4c",
      "name": "AI_topic"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "text",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1328,
        -880
      ],
      "id": "d8c1bed4-564c-449c-87bb-c4a779b8a13f",
      "name": "Add data to VDB"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "ai_cases",
          "mode": "list"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -1104,
        -880
      ],
      "id": "e09f46fb-0f5f-48ed-870d-b00b5448e260",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1168,
        -688
      ],
      "id": "6228045f-696e-4396-b4a1-d282446e6546",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "r1mXL5JVPJilJ6rh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -960,
        -672
      ],
      "id": "4b6b5b81-626a-45ab-b3ba-2533c3689fd0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -976,
        -544
      ],
      "id": "91af2755-e6fa-4fa8-b532-15e103636b7d",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1008,
        -320
      ],
      "id": "0ea10f96-3fd5-4a57-86f3-649f611ab98a",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "r1mXL5JVPJilJ6rh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Запускай цей інстурмент у випадку необхідності поушку інформації пр окейси застосування ші в базі даних",
        "memoryKey": {
          "__rl": true,
          "value": "ai_cases",
          "mode": "list",
          "cachedResultName": "ai_cases"
        },
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1040,
        -480
      ],
      "id": "82e28baf-0a18-4076-b47e-18f0f81633b0",
      "name": "get_data_from_VDB_tool"
    },
    {
      "parameters": {
        "description": "Запускай цей інструмент у випадку коли необхідно додати інформацію в векторну базу даних",
        "workflowId": {
          "__rl": true,
          "value": "P2kpRnwi4wERIfWs",
          "mode": "list",
          "cachedResultName": "Multi-Agent System"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('text', `інформація про кейси застосування штучного інтелекту`, 'string') }}"
          },
          "matchingColumns": [
            "text"
          ],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        880,
        -480
      ],
      "id": "d8d2d28e-a488-4097-af3c-6bac974a6c79",
      "name": "add_data_to_VDB_tool"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        608,
        -752
      ],
      "id": "2e210adf-fcad-4dba-915c-2c71a4d60b80",
      "name": "Telegram Trigger",
      "webhookId": "8e4ede42-45e6-4521-b630-53f751518918",
      "credentials": {
        "telegramApi": {
          "id": "8tQOj63RQY5FiGG0",
          "name": "Content Maker"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "={{ $json.output }}\n\n-----------\nПЕРЕВІРТЕ. БУДЬ ЛАСКА!",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Чи підтверджуєте публікацію?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Так"
                  },
                  {
                    "option": "Ні"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Ваш коментар",
              "fieldType": "textarea",
              "placeholder": "тут пишіть свій коментар"
            }
          ]
        },
        "options": {
          "messageButtonLabel": "Надати відповідь",
          "limitWaitTime": {
            "values": {
              "resumeAmount": 5,
              "resumeUnit": "minutes"
            }
          },
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        -768
      ],
      "id": "6123ac86-943f-4392-a2c5-2daa3083db0d",
      "name": "Send a text message",
      "webhookId": "e054d393-8190-4647-9c07-a9636817643b",
      "credentials": {
        "telegramApi": {
          "id": "8tQOj63RQY5FiGG0",
          "name": "Content Maker"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data['Чи підтверджуєте публікацію?'] }}",
                    "rightValue": "Так",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "e44f3196-9da1-4e0b-ae6f-92e93597f7d4"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bc9c57fd-5f3a-4471-b3fb-257406eae9c1",
                    "leftValue": "={{ $json.data['Чи підтверджуєте публікацію?'] }}",
                    "rightValue": "Ні",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1392,
        -768
      ],
      "id": "3b4993f4-4af1-4605-87b3-77d6265f7659",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "-1002946983842",
        "text": "={{ $('AI_Orkestrator').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1856,
        -1456
      ],
      "id": "33d3dccf-99d3-4a94-b591-af00c5589118",
      "name": "Send a text message1",
      "webhookId": "2130ca0d-ef74-4b7c-8d07-20da247bb2f3",
      "credentials": {
        "telegramApi": {
          "id": "8tQOj63RQY5FiGG0",
          "name": "Content Maker"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1616,
        -912
      ],
      "id": "8d70a487-2e24-4e66-9dcb-937d298ab895",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "r1mXL5JVPJilJ6rh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n     \"prompt\": \"Extreme close-up of a single tiger eye, direct frontal view. Detailed iris and pupil. Sharp focus on eye texture and color. Natural lighting to capture authentic eye shine and depth. The word \\\"FLUX\\\" is painted over it in big, white brush strokes with visible texture.\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1792,
        -912
      ],
      "id": "45ed77ad-3911-40b3-a42c-cb2786877fa1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('AI_Orkestrator').item.json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "На основі заданого запиту Користувача згенеруй промпт для генеративного ШІ для генерації зображення. Відповідь надай англійською мовою і тільки САМ ПРОМПТ в форматі {      \"prompt\": \"Extreme close-up of a single tiger eye, direct frontal view. Detailed iris and pupil. Sharp focus on eye texture and color. Natural lighting to capture authentic eye shine and depth. The word \\\"FLUX\\\" is painted over it in big, white brush strokes with visible texture.\"    } JSON"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1648,
        -1056
      ],
      "id": "de4f00d2-881f-4d24-8631-716551db8886",
      "name": "Rewrite text to prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/flux/dev",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n     \"prompt\": \"{{ $json.output.prompt }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2032,
        -1056
      ],
      "id": "6925b617-4edd-47fa-9025-c897696bcd27",
      "name": "Create an Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "aU6sNQcdkKj0MdtL",
          "name": "Fal AI"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/flux/requests/{{ $json.request_id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2448,
        -1056
      ],
      "id": "a57e97bd-ac91-4f88-a80e-05a93cf1df7b",
      "name": "Check Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "aU6sNQcdkKj0MdtL",
          "name": "Fal AI"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2240,
        -1056
      ],
      "id": "2c73eaf4-2a89-4049-a0e9-011f65876498",
      "name": "Wait",
      "webhookId": "7feb37b0-953a-458b-a443-9020781a0367"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "COMPLETED",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "7f7a5227-29d0-4c57-8c11-6eab65a23887"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "363b4e66-2a10-4926-b270-9cdf9d605ee4",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "COMPLETED",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2656,
        -1056
      ],
      "id": "da629a8f-fb25-4da5-9a9b-8d41f3e66697",
      "name": "Switch1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2864,
        -944
      ],
      "id": "e63bde56-2b09-493b-bcfd-6c74d9ec3af2",
      "name": "Wait1",
      "webhookId": "e76d9b05-7e47-4926-85d8-020993dc9128"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/flux/requests/{{ $('Create an Image').item.json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        -1152
      ],
      "id": "96bafe7c-cbb6-4fb1-8b5a-03f735940a51",
      "name": "Get the image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "aU6sNQcdkKj0MdtL",
          "name": "Fal AI"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1002946983842",
        "file": "={{ $json.images[0].url }}",
        "additionalFields": {
          "caption": "={{ $('AI_Orkestrator').item.json.output }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3072,
        -1152
      ],
      "id": "48062dc6-fe04-4de9-8a82-547066c7ee41",
      "name": "Send a photo message",
      "webhookId": "de2eb6ba-3bb8-4661-8ab7-d70e79da960e",
      "credentials": {
        "telegramApi": {
          "id": "8tQOj63RQY5FiGG0",
          "name": "Content Maker"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e48b151-bf5a-44b7-bbb9-a7bb79db5c7d",
              "name": "rewritePrompt",
              "value": "=Перегенеруй текст використоввуючи правки нижче: \n{{ $json.data['Ваш коментар'] }}\n\nОРИГІНАЛЬНИЙ ТЕКСТ: \n{{ $('AI_Orkestrator').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        -704
      ],
      "id": "cd55b713-09cb-4ec1-acdb-ac89c4b5306b",
      "name": "Change_Prompt"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1872,
        -768
      ],
      "id": "efda5d8f-ad33-40e4-95fd-97e6242cc961",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "r1mXL5JVPJilJ6rh",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 512910275,
          "message": {
            "message_id": 16,
            "from": {
              "id": 5744144767,
              "is_bot": false,
              "first_name": "Michael",
              "last_name": "[Amsets]",
              "username": "amsetsm",
              "language_code": "uk"
            },
            "chat": {
              "id": 5744144767,
              "first_name": "Michael",
              "last_name": "[Amsets]",
              "username": "amsetsm",
              "type": "private"
            },
            "date": 1756923353,
            "text": "ШІ в страховому бізнесі"
          }
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI_Orkestrator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Other_topic",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI_topic",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI_Orkestrator": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Other_topic": {
      "ai_tool": [
        [
          {
            "node": "AI_Orkestrator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI_topic": {
      "ai_tool": [
        [
          {
            "node": "AI_Orkestrator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add data to VDB": {
      "main": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "get_data_from_VDB_tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "get_data_from_VDB_tool": {
      "ai_tool": [
        [
          {
            "node": "AI_Orkestrator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "add_data_to_VDB_tool": {
      "ai_tool": [
        [
          {
            "node": "AI_Orkestrator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI_Orkestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Rewrite text to prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Change_Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Rewrite text to prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Rewrite text to prompt",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite text to prompt": {
      "main": [
        [
          {
            "node": "Create an Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an Image": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Get the image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the image": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change_Prompt": {
      "main": [
        [
          {
            "node": "AI_Orkestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d6f18cf8-175d-4a8c-9b69-ab81d20d32b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4ad9d50485b4ab8320a3223b6b7282f65fdd7b9f19f2d3a6f57b260394a6c03"
  },
  "id": "u81SZHsYo29W36ua",
  "tags": []
}